---
interface Props {
  name: string;
  artist: string;
  image: string;
}

const { name, artist, image } = Astro.props;
---

<li class="pd-item">
  <a href="#" class="pd-card">
    <img src={image} alt="" />
    <div class="pd-card-text">
      <h2>
        {name}
      </h2>
      <p>
        {artist}
      </p>
    </div>
  </a>
  <style>
    .pd-item {
      list-style: none;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .pd-card > img {
      position: relative;
      border-radius: 50%;
      width: 55%;
    }
    .pd-card {
      width: 100%;
      position: relative;
      text-decoration: none;
      line-height: 1.4;
      color: #000000f1;
      text-align: center;
      border-radius: 7px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    .pd-card-text {
      padding: 1rem;
    }

    h2 {
      margin: 0;
      font-size: 1.25rem;
    }
    p {
      margin-bottom: 0;
    }
    .pd-card:is(:hover, :focus-within) {
      box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
    }
  </style>
</li>
