---
const { podcastInfo } = Astro.props;
---

<div class="pd-detail-layout">
  <aside class="pd-detail-aside">
    <img src={podcastInfo.image} alt="" />
    <div class="pd-title">
      <h3>{podcastInfo.name}</h3>
      <p>by {podcastInfo.artist}</p>
    </div>
    <div class="pd-description">
      <p>Description:</p>
      <p>{podcastInfo.description}</p>
    </div>
  </aside>

  <slot />
</div>

<style>
  .pd-detail-layout {
    display: flex;
    gap: 4rem;
    margin: 2rem 0;
  }
  .pd-detail-aside {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .pd-detail-aside img {
    align-self: center;
  }
</style>
