---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style>
      #loading-indicator {
        display: none;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    </style>
    <script>
      window.addEventListener("beforeunload", function () {
        document.getElementById("loading-indicator").style.display = "block";
      });

      window.addEventListener("load", function () {
        document.getElementById("loading-indicator").style.display = "none";
      });
    </script>
  </head>
  <header class="pd-header">
    <a href="/" class="home-title">Podcaster</a>
    <div id="loading-indicator">Cargando...</div>
  </header>
  <body>
    <slot />
  </body>

  <style is:global>
    html {
      font-family: system-ui, sans-serif;
      padding: 0 10%;
    }
    header {
      padding: 1rem 0;
      border-bottom: 1px solid #4e4a4a;
      position: relative;
    }
    .home-title {
      font-size: 1.5rem;
      font-weight: 600;
      color: #333;
      text-decoration: none;
    }

    a {
      text-decoration: none;
    }
  </style>
</html>
